/* ============================= */
/*            CSS RESET          */
/* ============================= */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ============================= */
/*            ROOT               */
/* ============================= */

:root {
  /* ===== Color Palette (Generic Tokens) ===== */

  --color-primary: #ff9800;
  --color-secondary: #ffc107;
  --color-accent: #d83c3c;

  --color-bg: #fafafa;
  --color-surface: #ffffff;

  --color-text-primary: #3a3a3a;
  --color-text-secondary: #616161;
  --color-text-inverse: #ffffff;

  --color-border: #e5e5e5;

  --color-symbol: var(--color-primary);

  /* ===== Spacing Scale (8px system) ===== */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;

  /* ===== Border Radius ===== */

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* ===== Elevation ===== */

  --shadow-1: 0 6px 15px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 20px 25px rgba(0, 0, 0, 0.15);

  --cell-shadow-1: 0 0 10px rgba(0, 0, 0, 0.08);
  --cell-shadow-2: 0 0 30px rgba(0, 0, 0, 0.15);

  /* ===== Typography Scale ===== */

  --font-family: "Poppins", sans-serif;

  --fs-base: 16px; /* 16px */

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.75rem; /* 28px */
  --fs-xxl: 2rem; /* 32px */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* ===== Layout ===== */
  --cell-size: 100px;
  --button-width: 140px;
  --button-height: 50px;
}

/* ============================= */
/*          TYPOGRAPHY          */
/* ============================= */

h1 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}

h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
}

p {
  font-size: var(--fs-sm);
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-md);
  color: var(--color-text-primary);
  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);

  margin: var(--space-5);
}

.board {
  display: grid;
  gap: var(--space-2);
  grid-template-columns: repeat(3, var(--cell-size));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--radius-md);

  color: var(--color-symbol);
  background-color: var(--color-surface);
  box-shadow: var(--cell-shadow-1);
  transition: all 0.1s ease-in-out;
}

.enabled > .cell:hover {
  box-shadow: var(--cell-shadow-2);
  transform: scale(1.05);
}

.symbol {
  width: var(--cell-size);
  height: var(--cell-size);
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-5);
}
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-3);

  padding: var(--space-3);

  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-1);

  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  transition: all 0.1 ease-in-out;
}

.player-score {
  font-size: var(--fs-xl);
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);

  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  margin-top: var(--space-3);
}

.board-container {
  position: relative;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;

  width: var(--button-width);
  height: var(--button-height);

  background-color: var(--color-secondary);
  border-radius: var(--radius-sm);

  border: var(--color-border);
  padding: var(--space-2) var(--space-5);

  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 0.05rem;

  box-shadow: var(--shadow-1);

  transition: all 0.1s ease-in-out;

  position: absolute;
  top: calc(50% - (var(--button-height) / 2));
  left: calc(50% - (var(--button-width) / 2));
}

.btn:hover {
  box-shadow: var(--shadow-2);
}

.btn:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}

.active {
  background-color: var(--color-secondary);
}
